
header{
    height: 130vh;
    padding-top: 2rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 4rem;
}

.header__social::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.me{
    /* background: linear-gradient(var(--color-primary),transparent); */
    width: 18rem;
    height: 25rem;
    position: absolute;
    left: calc(50% - 9rem);
    margin-top: 5rem;
    overflow: hidden;
    border-radius: 5px;
    /* margin-bottom: 1rem; */
}
/* .me{
    background: linear-gradient(var(--color-primary),transparent);
    width: 15rem;
    height: 20rem;;
    position: absolute;
    left: calc(50% - 7rem);
    margin-top: 0.7rem;
    overflow: hidden;
    border-radius: 12rem 12rem 0 0;
    padding: 5rem 1.5rem 1.5rem 1.5rem ;
} */


.scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: 6.1rem;
    transform: rotate(90deg);
    font-size: 0.9rem;
    font-weight: 300;
}
@media screen and (max-width: 1024px) {
    header{
        height: 67vh;
    }
  }
@media screen and (max-width: 600px) {
    
    header{
        height: 750px;
    }
    .me{
        width: 18rem;
        height: 30rem;
    }
    .header__social, .scroll__down{
        display: none;
    }
  }